@media screen and (max-width: 1140px) {
   .home_title {
      font-size: 50px;
      line-height: 56px;
   }
}

@media screen and (max-width: 886px) {
   .header {
      padding-bottom: 50px;
   }

   .logo {
      margin-bottom: 20px;
   }

   .home_title {
      font-size: 36px;
      line-height: 40px;
   }

   .home_wrap {
      flex-direction: column-reverse;
   }

   .home_wrap-content {
      width: 98%;
      margin-right: 0;
   }

   .home_wrap-img {
      width: 75%;
      margin-bottom: 20px;
   }
}

@media screen and (max-width: 667px) {
   .nav_burger {
      display: block;
      margin: 0px 40px 0px 0px;
   }

   .nav_item {
      display: none;
      flex-direction: column;
      position: absolute;
      width: 160px;
      top: 40px;
      left: -62px;
      background-color: #fff;
      transition: 0.2s linear;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      -o-transition: 0.2s linear;
   }

   .nav_item li {
      margin-bottom: 10px;
      margin-right: 0;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      padding: 5px 35px;
   }

   .nav_item li:last-child {
      margin-right: 0;
   }

   .nav_item li:hover {
      padding: 5px;
      transition: 0.2s linear;
      text-decoration: underline;
   }

   .logo {
      margin-bottom: 0px;
   }

   .home {
      margin-bottom: 40px;
   }

   .home_title {
      font-size: 30px;
      line-height: 35px;
   }

   .home_description {
      font-size: 16px;
      line-height: 22px;
   }
}