@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap');

.wrapper {
	font-family: 'Open Sans', serif;
	font-weight: 400;
	color: #646464;
	font-size: 18px;
}

.header {
	padding-top: 34px;
	padding-bottom: 94px;
}

.container {
	max-width: 1346px;
	margin: 0 auto;
	padding: 0 20px;
}

.header_wrap {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 10px;
	cursor: pointer;
}

.logo img {
	width: 100%;
	height: 100%;
}

.nav {
	display: flex;
	margin-left: auto;
	align-items: center;
	position: relative;
}

.nav_item {
	display: flex;
}

.nav_item li {
	font-weight: 600;
	margin-right: 15px;
	font-size: 16px;
	line-height: 22px;
}

.nav_item li:last-child {
	margin-right: 40px;
}

.nav_item li:hover {
	font-weight: 400;
}

.btn {
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	border-radius: 20px 0px;
	cursor: pointer;
}

.nav_btn {
	border-color: #fff;
	padding: 5px 15px;
	background: #CAA892;
}

/* section home */

.home {
	margin-bottom: 80px;
}

.home_wrap {
	display: flex;
	align-items: center;
}

.home_wrap-content {
	width: 49%;
	padding: 10px;
	margin-right: 60px;
}

.subtitle {
	font-size: 20px;
	font-weight: 600;
}

.home_subtitle {
	margin-bottom: 12px;
}

.title-big {
	font-family: Poppins;
	font-weight: 600;
}

.home_title {
	font-size: 67px;
	line-height: 78px;
	color: #212121;
	margin-bottom: 23px;
}

.home_description {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 32px;
}

.home_btn {
	background: #37806B;
	padding: 5px 10px;
	border-color: inherit;
}

.home_wrap-img {
	width: 45%;
	border-color: 5px solid #B0855B;
}

.home_wrap-img img {
	display: block;
}

.nav_burger {
	position: relative;
	width: 30px;
	height: 25px;
	cursor: pointer;
	display: none;
}

.burger_line {
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	background-color: #646464;
	left: 0;
	transition: 0.2s all linear;
	-webkit-transition: 0.2s all linear;
	-moz-transition: 0.2s all linear;
	-ms-transition: 0.2s all linear;
	-o-transition: 0.2s all linear;
}

.burger_line-first {
	top: 0;
}

.burger_line-second,
.burger_line-third {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.burger_line-fours {
	bottom: 0;
}

.burger_active .burger_line-first,
.burger_active .burger_line-fours {
	opacity: 0;
}

.burger_active .burger_line-second {
	transform: translateY(-50%) rotate(45deg);
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger_line-third {
	transform: translateY(-50%) rotate(-45deg);
	-webkit-transform: translateY(-50%) rotate(-45deg);
	-moz-transform: translateY(-50%) rotate(-45deg);
	-ms-transform: translateY(-50%) rotate(-45deg);
	-o-transform: translateY(-50%) rotate(-45deg);
}

/* section service */
.service {
	margin-bottom: 120px;
}

.sub-title {
	color: #646464;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
}

.service_sub-title {
	display: inline-block;
}

.title {
	color: #212121;
	font-size: 41px;
	line-height: 45px;
	font-weight: 500;
}

.service_title {
	margin-bottom: 15px;
}

.service_slider {
	display: flex;

}

.slider_item {
	max-width: 370px;
	display: block;
	background-color: #fff;
	box-shadow: rgb(214, 203, 203) 5px 5px 8px 4px;
	border-radius: 40px 0px;
	padding: 10px;
	margin-right: 15px;
	-moz-border-radius: 40px 0px;
	-ms-border-radius: 40px 0px;
	-o-border-radius: 40px 0px;
}

.slider_item:nth-child(2) {
	background-color: #CAA892;
	color: #FFFFFF;
}
.card_architecture-title {
	color: #fff;
}
.card_interior {
	display: block;
	padding-left: 15px;

}
.add_title {
	color: #000;
}
.card_title {
	font-size: 24px;
	line-height: 42px;
	font-family: 'Open Sans', sans-serif;
}

/* .card_description {

}

.card_architecture {}

.card_planning {} */
/* about section */

.aboutAs {
	font-family: 'Open Sans';
	font-weight: 500;
	margin-bottom: 120px;
}

.blockAbout {
	display: flex;
	justify-content: space-evenly;
}

.about_img {
	width: 43%;
	margin-right: 50px;
}

.about_img img {
	display: inline-block;
}
/* .about-images {} */
.about_description {
	width: 45%;
}
.about_text {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 30px;
}

.about_sub-title {
	color:#646464;
	margin-bottom: 20px;
	display: inline-block;
}

.about_title {
	font-family: Poppins;
	margin-bottom: 20px;
	color: #212121;
	font-size: 48px;
	line-height: 57px;
}

/* .about_btn {} */